/* Project msp01-juanpaco-resume */
/* Written by: JuanPaco at Cuernavaca, México */
/* Thursday 05 - March - 2020 */
/* html files: index.html */


/*---------------------- General Definitions */

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #D9D9D9;
}

h1 {
    letter-spacing: 4px;
    font-size: 95%;
}

h2 {
    color: #F2F2F2;
}

/*----------------- Colours */

.bg-color-work-history {
    background-color: #D9D9D9;
}

/*------------------ Bar Fixed Definitions */

.bar-fixed {
    position: fixed;
    z-index: 1;   
    background: #5F6673; 
    width: 100%;
}

.bar-fixed-top {
    top: 0;
}

.bar-fixed-bottom {
    bottom: 0; 
}

.bar-fixed-items {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    letter-spacing: 1.5px;
    margin: 0;
    height: 80px;
}

.bar-fixed-items li {
    margin: 10px;
}

.bar-fixed-items li a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 100%;
    line-height: 7px;
    text-align: center;
    border-radius: 50%;
    background: #5F6673;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;*/
}

.bar-fixed-items li a i {
    font-size: 1.5em;
}

.bar-fixed-items .active a,
.bar-fixed-items .active a:hover {
    background-color: red;
}

.bar-fixed-items li a:hover,
.bar-fixed-items li a:active
{
    font-size: 110%;
    background-color: #A6341B;
}

.bar-fixed-items li span,
.nav-pills li span {
    display: block;
    line-height: 10px;
    font-size: 0.8em;
    width: 100%;
}

@media only screen and (max-width: 580px) {
    .bar-fixed-items li { 
        font-size: 0.5em;
        margin-right: 15px;
    }
}


/*.bar-fixed-items li a span:hover {
    border-bottom: 1px solid #F2F2F2;
}

.bar-fixed-items li a img {
    margin-top: 5px; 
}

.bar-fixed-items li a img:hover {
    animation-name: me-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes me-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
*/

/*----------------------------------- Introduce Me Definitions */

.introduce-container {
    height: 100vh;
    background: url("../images/temporary-image.jpg") no-repeat bottom right fixed;
}


/*----------------------------------- Some General format containers Definitions */

.format-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.45);
}

/*----------------------------------- What Do I Do? Definitions */

.container-whatdoido {
    background-color: #AAB1BF;
}

.container-whatdoido-cards {
    padding-top: 65px;
    padding-bottom: 25px;
}

.whatdoido-card {
    text-align: center;
    margin-bottom: 40px;
}

.whatdoido-card i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

/*----------------------------------- Discovering Definitions */

.container-discovering {
    height: 100%;
    background-color: #F2F2F2;
    color: #5F6673;
}

.container-banner {
    width: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-banner i {
    font-size: 150%;
}

/*----------------------------------- Discovering Designing */

.container-designing {
    height: 100%;
    background-color: #D9D9D9;
    color: #5F6673;
}

/* --------------------------------- Block Dividers Definitions */

.hr-divider {
    width: 85px;
    height: 3px;
    border: 0;
    background-color: #F2F2F2;
}

.hr-divider--short {
    width: 55px; 
}

.hr-divider--gray {
    background-color: #F2F2F2;
}

.hr-divider--dark {
    background-color: #5F6673;
}

/*----------------------------------- Work History Definitions */

.timeline-item {                    /* work history border */
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {                  /* Continuos border */
    padding: 0;
    margin: 0;
}

.timeline-item:before {             /* get date data and show it */
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {             /* draw the circles */
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;                     /* put circles at top */
    position: absolute;
    left: -6px;                     /* to put over the line */
    content: '';
    border-radius: 12px;
    background: #5F6673;
}

.contact-modal-button {
    
}

/*----------------------------------- Overwrite "Buttons" Definitions */

.btn {
    background-color: #A6341B;
    border-color: #A6341B;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #F2F2F2;
} 

.btn-container {
    background-color: #5F6673;
    border-color: #5F6673;    
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: inherit;
}

/*----------------------------------- Overwrite "Jumbotron" Definitions */

.jumbotron { 
    background-color: transparent;
}

.jumbotron .lead { 
    color: #D9D9D9; 
}